Build
/MANIFEST.SKIP.bak
/MANIFEST.bak
META.YML
MYMETA*
Makefile
Makefile.old
SSL
blib
blib/
.build/
_build/
cover_db/
/_eumm/
/UV*
Win32-Daemon-*/
Win32-Daemon-*.tar.gz
.perl-version
pm_to_blib
*.sw*
*.tar.gz
xx*
*.bs
*.o
Daemon.cpp
Daemon.o
Daemon.def
.vscode/
